<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Editando</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Editando administrador
        </div>
        
        <%= render 'form', admin: @admin %>
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>